<template>
  <section class="flex">
    <div class="first-column flex">
      <vertical-text
          :text="'trading platform'"
          :styles="'middle-text bottom-to-top-direction'"
      ></vertical-text>
      <vertical-text
          :text="'zigzag trader 3.0 '"
          :styles="'small-text bottom-to-top-direction'"
      ></vertical-text>
      <div class="first-column__content flex flex-col">
        <p>
          <span class="font-bold uppercase">trading platform zigzag trader 3.0</span>
          <br>
          <br>
          Advanced Trading Platform, allows to manage account groups,
          symbols, bridging to another platforms or Liqudity Providers.
        </p>
        <p class="mt-6">
          <span class="font-bold uppercase">integrations:</span>
          <br>
          <br>
          ZigZag Trader 3.0 fully integrated to all products and provides all in one ecosystems.
        </p>
        <read-more-button
            class="mt-24"
            :text="`Read more`"
            :path="'products/trader/trader_full'"
        ></read-more-button>
      </div>
    </div>
    <div class="second-column">
      <img
          class="rounded-md example-one"
          :src="require('~/assets/img/Products/Trader/app-example1.png')"
          alt="application example page 1"
      >
      <img
          class="rounded-md example-two"
          :src="require('~/assets/img/Products/Trader/app-example2.png')"
          alt="application example page 2"
      >
      <img
          class="imac"
          :src="require('~/assets/img/Products/Trader/imac.png')"
          alt="page on imac"
      >
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import VerticalText from "~/components/VerticalText.vue";
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'Trader',
  components: {
    QuickContact,
    ReadMoreButton,
    VerticalText
  },
  layout: 'Trader'
}
</script>

<style lang="scss" scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
  }
  .first-column {
    width: 50%;
    height: 600px;
    margin-top: 30px;

    &__content {
      width: 304px;
      margin: 135px 0 0 20px;
    }
  }
  .example-one {
    width: 400px;
    height: 225px;
    position: absolute;
    top: 20%;
    right: 28%;
  }
  .imac {
    width: 519px;
    height: 418px;
    position: absolute;
    top: 27%;
    right: 8%;
  }
  .example-two {
    width: 400px;
    height: 225px;
    position: absolute;
    top: 20%;
    right: -6%;
  }
</style>
