<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-20">
        <div class="flex flex-col">
          <h1 class="ml-4 big-text text-right font-bold uppercase">trading platform</h1>
          <h2 class="ml-4 big-text text-right font-bold uppercase">zigzag trader 3.0</h2>
          <div class="mt-4 first-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-1 relative z-20"
                  :src="require('~/assets/img/Products/Trader/figure.svg')"
                  alt="figure"
              >
              <img
                  class="app-example-size app-example-first"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example3.png')"
                  alt="app desktop example 1"
              >
              <img
                  class="app-example-size app-example-second"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example4.png')"
                  alt="app desktop example 2"
              >
              <img
                  class="app-example-size app-example-third"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example5.png')"
                  alt="app desktop example 3"
              >
            </div>
            <ul class="ml-8 list-disc">
              <li>User Management/Lead Management</li>
              <li>Accounts/Wallet Management</li>
              <li>Leader Boards, Badges, Strategies</li>
              <li>Curerncies, Account Groups and Symbols with Symbol Groups</li>
              <li>Competitions</li>
              <li>CRM</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="second-section mt-8 flex justify-between">
        <div class="flex flex-col w-full">
          <h1 class="big-text text-right font-bold uppercase">trading terminal</h1>
          <div class="second-row relative">
            <img
                class="figure-2 relative z-20"
                :src="require('~/assets/img/Products/Trader/figure2.svg')"
                alt="figure 2"
            >
            <img
                class="app-example-size absolute app-example-fourth"
                :src="require('~/assets/img/Products/TradersArea/desktop-example5.png')"
                alt="app desktop example 4"
            >
            <div class="mt-14 flex flex-col second-row-text">
              <span class="paragraph-size">
                Advanced Trading Terminal with ability to trade from any trading account,
                manage orders and control opened and closed orders. All orders coming from
                investing or copy trading will be referenced with source of creation
                Live pricing and charging with all available time frames from server.
              </span>
            </div>
          </div>
        </div>
      </section>
      <section class="third-section mt-16">
        <div class="flex flex-col">
          <div class="mt-5 third-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-3 relative z-20"
                  :src="require('~/assets/img/Products/Trader/figure3.svg')"
                  alt="figure 3"
              >
              <img
                  class="app-example-size app-example-fifth"
                  :src="require('~/assets/img/Products/Trader/desktop-example7.png')"
                  alt="app desktop example 5"
              >
              <img
                  class="app-example-size app-example-sixth"
                  :src="require('~/assets/img/Products/Trader/desktop-example8.png')"
                  alt="app desktop example 6"
              >
            </div>
          </div>
        </div>
      </section>
      <section class="fourth-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h3 class="big-text font-bold uppercase">ability to connect to</h3>
          <h3 class="big-text font-bold uppercase">external liquidity providers</h3>
          <div class="mt-4 last-row flex relative w-screen">
            <ul class="last-row-text ml-4 list-disc">
              <li>Data Feed Configuration</li>
              <li>Account Groups</li>
              <li>Symbol Groups</li>
              <li>User with multy account support</li>
              <li>Multy Wallet support</li>
            </ul>
            <img
                class="figure-4 relative z-20"
                :src="require('~/assets/img/Products/Trader/figure4.svg')"
                alt="figure 4"
            >
            <img
                class="app-example-size app-example-seventh"
                :src="require('~/assets/img/Products/Trader/desktop-example9.png')"
                alt="app desktop example 7"
            >
            <img
                class="app-example-size app-example-eight"
                :src="require('~/assets/img/Products/Trader/desktop-example9.png')"
                alt="app desktop example 8"
            >
          </div>
        </div>
      </section>
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
    <Footer class="mt-8" />
  </main>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'TraderFull',
  components: {
    QuickContact
  },
  layout: 'TraderFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
    z-index: 2;
  }
  .paragraph-size {
    width: 500px;
  }
  .first-row {
    height: 830px;
  }
  .third-row {
    height: 600px;
  }
  .second-row {
    height: 440px;
  }
  .last-row {
    height: 640px;
  }
  .second-row-text {
    position: absolute;
    right: 10%;
  }
  .last-row-text {
    position: absolute;
    top: 6%;
    left: 48%;
  }
  .app-examples-first {
    width: 690px;
  }
  .app-example-first {
    position: absolute;
    left: -5%;
  }
  .app-example-second {
    position: absolute;
    top: 25%;
    left: 28%;
    z-index: 2;
  }
  .app-example-third {
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
  }
  .app-example-fourth {
    position: absolute;
    left: -4%;
  }
  .app-example-fifth {
    position: absolute;
    right: 2%;
  }
  .app-example-sixth {
    position: absolute;
    top: 33%;
    left: 28%;
  }
  .app-example-seventh {
    position: absolute;
    left: -5%;
    z-index: 1;
  }
  .app-example-eight {
    position: absolute;
    top: 31%;
    left: 9.5%;
  }
  .figure-1 {
    position: absolute;
    top: 10%;
    left: 35%;
  }
  .figure-2 {
    position: absolute;
    top: -35%;
    left: -4%;
  }
  .figure-3 {
    position: absolute;
    top: -10%;
    left: 33%;
  }
  .figure-4 {
    position: absolute;
    top: 1%;
    left: 2%;
  }
</style>
