<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <div class="first-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-1 relative z-20"
                  :src="require('~/assets/img/Products/Backoffice/figure.svg')"
                  alt="figure"
              >
              <img
                  class="app-example-size app-example-first"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example.png')"
                  alt="app desktop example 1"
              >
              <img
                  class="app-example-size app-example-second"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example2.png')"
                  alt="app desktop example 2"
              >
            </div>
            <article class="flex flex-col">
              <h1 class="ml-4 big-text font-bold uppercase">backoffice</h1>
              <p class="paragraph-size mt-14">
                Broker Management with ability to manage servers for MT4, MT5 and ZigZag Trader 3.
                Regulation management with company names and law information about regulation.
              </p>
            </article>
          </div>
        </div>
      </section>
      <section class="second-section mt-14">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <article class="list-position-center flex flex-col">
              <h3>Advances Users and account management:</h3>
              <ul class="ml-8 list-disc">
                <li>User Management/Lead Management</li>
                <li>Accounts/Wallet Management</li>
                <li>Leader Boards, Badges, Strategies</li>
                <li>Currencies, Account Groups and Symbols with Symbol Groups</li>
                <li>Competitions</li>
                <li>CRM</li>
              </ul>
            </article>
            <div class="app-examples-first">
              <img
                  class="figure-2 relative z-20"
                  :src="require('~/assets/img/Products/Backoffice/figure2.svg')"
                  alt="figure 2"
              >
              <img
                  class="app-example-size app-example-third"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example3.png')"
                  alt="app desktop example 3"
              >
              <img
                  class="app-example-size app-example-fourth"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example4.png')"
                  alt="app desktop example 4"
              >
              <img
                  class="app-example-size app-example-fifth"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example5.png')"
                  alt="app desktop example 5"
              >
            </div>
          </div>
        </div>
      </section>
      <section class="third-section mt-16">
        <div class="flex flex-col">
          <h3 class="ml-4 big-text font-bold uppercase">payment management</h3>
          <div class="mt-5 third-row flex relative w-screen">
            <ul class="list-position-center ml-8 list-disc">
              <li>Deposit Requests</li>
              <li>Withdrawal Requests</li>
              <li>Transactions</li>
            </ul>
            <div class="app-examples-first">
              <img
                  class="figure-3 relative z-20"
                  :src="require('~/assets/img/Products/Backoffice/figure3.svg')"
                  alt="figure 3"
              >
              <img
                  class="app-example-size app-example-third"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example6.png')"
                  alt="app desktop example 6"
              >
              <img
                  class="app-example-size app-example-seventh"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example7.png')"
                  alt="app desktop example 7"
              >
            </div>
          </div>
        </div>
      </section>
      <section class="fifth-section mt-12 flex justify-between">
        <div class="fifth-row flex relative w-screen">
          <article class="fifth-row-list-1 flex flex-col">
            <h3>Content Management:</h3>
            <ul class="ml-8 list-disc">
              <li>CMS to edit Static pages.</li>
              <li>Social Network Content and publications managements</li>
            </ul>
          </article>
          <img
              class="figure-4 relative z-20"
              :src="require('@/assets/img/Products/Backoffice/figure4.svg')"
              alt="figure 4"
          >
          <img
              class="app-example-size app-example-eighth"
              :src="require('@/assets/img/Products/Backoffice/desktop-example8.png')"
              alt="app desktop example 8"
          >
          <img
              class="app-example-size absolute app-example-ninth"
              :src="require('@/assets/img/Products/Backoffice/desktop-example9.png')"
              alt="app desktop example 9"
          >
          <h3 class="big-text text-right font-bold uppercase fifth-row-title">social trading</h3>
          <ul class="fifth-row-list-2 list-disc">
            <li>Managements of commissions</li>
            <li>Reporting Commissions for assets</li>
          </ul>
        </div>
      </section>
      <section class="last-section mt-14">
        <div class="flex flex-col">
          <div class="last-row flex relative w-screen">
            <article class="last-row-list flex flex-col">
              <h3>Marketing:</h3>
              <ul class="ml-8 list-disc">
                <li>Email Templates</li>
                <li>Automatic mails for different actions</li>
                <li>Email Groups</li>
                <li>Active Camplaigns</li>
                <li>Manual Email Distribution.</li>
              </ul>
            </article>
            <div class="app-examples-first">
              <img
                  class="figure-5 relative z-20"
                  :src="require('~/assets/img/Products/Backoffice/figure5.svg')"
                  alt="figure 5"
              >
              <img
                  class="app-example-size app-example-tenth"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example10.png')"
                  alt="app desktop example 10"
              >
              <img
                  class="app-example-size app-example-eleventh"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example11.png')"
                  alt="app desktop example 11"
              >
              <img
                  class="app-example-size app-example-twelfth"
                  :src="require('~/assets/img/Products/Backoffice/desktop-example12.png')"
                  alt="app desktop example 12"
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
    <Footer />
  </main>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";
import Footer from "~/components/Footer.vue";

export default {
  name: 'BackofficeFull',
  components: {
    QuickContact,
    Footer
  },
  layout: 'BackofficeFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
    z-index: 6;
  }
  .list-position-center {
    position: absolute;
    right: 49%;
  }
  .first-row {
    height: 650px;
  }
  .paragraph-size {
    width: 500px;
  }
  .second-row {
    height: 770px;
  }
  .third-row {
    height: 600px;
  }
  .fifth-row {
    height: 770px;
  }
  .app-examples-first {
    width: 690px;
  }
  .app-example-first {
    position: absolute;
    left: -5%;
  }
  .app-example-second {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 2;
  }
  .app-example-third {
    position: absolute;
    right: -5%;
  }
  .app-example-fourth {
    position: absolute;
    top: 27%;
    left: 28%;
    z-index: 2;
  }
  .app-example-fifth {
    position: absolute;
    top: 48%;
    left: -6%;
    z-index: 1;
  }
  .app-example-seventh {
    position: absolute;
    top: 33%;
    left: 28%;
  }
  .app-example-eighth {
    position: absolute;
    left: -4%;
  }
  .app-example-ninth {
    position: absolute;
    top: 48%;
    right: -4%;
  }
  .app-example-tenth {
    position: absolute;
    left: -4%;
    top: 4%;
  }
  .app-example-eleventh {
    position: absolute;
    top: 29%;
    right: 26%;
    z-index: 2;
  }
  .app-example-twelfth {
    position: absolute;
    top: 50%;
    right: -6%;
    z-index: 1;
  }
  .fifth-row-list-1 {
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .fifth-row-list-2 {
    position: absolute;
    top: 80%;
    left: 30%;
  }
  .last-row {
    height: 880px;
  }
  .last-row-list {
    position: absolute;
    top: 14%;
    left: 5%;
  }
  .fifth-row-title {
    position: absolute;
    top: 64%;
    right: 30%;
  }
  .figure-1 {
    position: absolute;
    top: -3%;
    left: 1%;
  }
  .figure-2 {
    position: absolute;
    top: 17%;
    right: 27%;
  }
  .figure-3 {
    position: absolute;
    top: -3%;
    right: 20%;
  }
  .figure-4 {
    position: absolute;
    top: 10%;
    right: 27%;
  }
  .figure-5 {
    position: absolute;
    top: 3%;
    right: 27%;
  }
</style>
