<template>
  <section class="flex">
    <div class="first-column flex">
      <div class="app-example-styles">
        <img
            :src="require('~/assets/img/Products/Backoffice/app-example.png')"
            alt="application page example"
        >
<!--        <img class="figure relative" :src="require('~/assets/img/figure.svg')" alt="figure">-->
      </div>
    </div>
    <div class="second-column flex">
      <div class="second-column__content flex flex-col">
<!--        <p>-->
<!--          <span class="font-bold uppercase">backoffice</span>-->
<!--          <br>-->
<!--          <br>-->
<!--          Broker Management with ability to manage servers for MT4, MT5 and ZigZag Trader 3.-->
<!--          <br>-->
<!--          Regulation management with company names and law information about regulation.-->
<!--        </p>-->
        <p class="mt-28">
          <span class="font-bold uppercase">management:</span>
          <br>
          <br>
          Advances Users and account management:
          <br>
          Leader Boards
          <br>
          Badges
          <br>
          Strategies
          <br>
          Competitions
          <br>
          CRM
          <br>
          CMS
          <br>
          Marketing
          <br>
          Payment Management
        </p>
        <read-more-button
            :styles="'golden-btn'"
            :text="`Read more`"
            :path="'products/backoffice/backoffice_full'"
            class="mt-10"
        ></read-more-button>
      </div>
      <vertical-text
          class="ml-48 mt-6 big-text"
          :text="'backoffice'"
          :styles="'top-to-bottom-direction'"
      ></vertical-text>
    </div>
    <quick-contact order class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import VerticalText from "~/components/VerticalText.vue";

export default {
  name: 'Backoffice',
  components: {
    VerticalText,
    ReadMoreButton,
    QuickContact
  },
  layout: 'Backoffice'
}
</script>

<style lang="scss" scoped>
  .quick-contacts {
    position: fixed;
    left: 3%;
    bottom: 9%;
  }
  .app-example-styles {
    width: 714px;
    height: 403px;
    margin-top: 87px;
  }
  .second-column {
    margin-left: 114px;

    &__content {
      width: 300px;
      margin-top: 87px;
    }
  }
  .figure {
    position: absolute;
    top: 8px;
    left: 1%;
  }
</style>
