<template>
  <section class="flex">
    <div class="first-column flex">
      <vertical-text
          :text="'social trading'"
          :styles="'bottom-to-top-direction big-text'"
      ></vertical-text>
      <div class="first-column__content flex flex-col">
        <p>
          <span class="font-bold uppercase">social trading platform</span>
          and Investment Management solution to make investors copy succesfull traders,
          rate prolertly traders, make competitions between  traders and investors.
        </p>
        <p class="mt-20">
          <span class="font-bold uppercase">multi platform support</span>
          <br>
          Integrated support of Metatrader 4 and Metatrader 5 platforms allows you
          to softly change platform or use all of them together.
          <br>
          <br>
          ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks,
          configure datafeeds and order processing just inside backoffice, with no need any external apps
        </p>
        <read-more-button
            :styles="'green-blue-btn'"
            :text="`Read more`"
            :path="'products/social_trading/social_trading_full'"
            class="mt-16"
        ></read-more-button>
      </div>
    </div>
    <div class="second-column">
      <img
          class="app-example app-example-size"
          :src="require('~/assets/img/Products/SocialTrading/desktop-example2.png')"
          alt="application page example"
      >
<!--      <img class="figure relative z-20" :src="require('~/assets/img/figure.svg')" alt="figure">-->
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import VerticalText from "~/components/VerticalText.vue";
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'SocialTrading',
  components: {
    QuickContact,
    ReadMoreButton,
    VerticalText
  },
  layout: 'SocialTrading'
}
</script>

<style lang="scss" scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
  }
  .first-column {
    width: 50%;
    height: 600px;
    margin-top: 30px;

    &__content {
      width: 407px;
      margin: 88px 0 0 20px;
    }
  }
  .app-example {
    position: absolute;
    top: 23%;
    right: -6%;
  }
  .figure {
    position: absolute;
    top: 8px;
    right: -1%;
  }
</style>
