<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="ml-4 big-text font-bold uppercase">social trading</h1>
          <div class="first-row flex relative w-screen">
            <div class="mt-14 flex flex-col">
              <span>Multy Regulation Support for Brokers:</span>
              <ul class="ml-8 list-disc">
                <li>Stating country and company details for each regulation</li>
                <li>Available leverages for regulation</li>
                <li>Select server and group for accounts to be created.</li>
              </ul>
            </div>
<!--            <img class="figure-1 relative z-20" :src="require('~/assets/img/Products/SocialTrading/figure.svg')" alt="figure">-->
            <img
              class="app-example-size absolute -right-10"
              :src="require('~/assets/img/Products/SocialTrading/desktop-example.png')"
              alt="app desktop example 1"
            >
            <img
              class="app-mobile-size absolute left-2/4 top-1/4"
              :src="require('~/assets/img/Products/SocialTrading/mobile-example.png')"
              alt="app mobile example 1"
            >
          </div>
        </div>
      </section>
      <section class="second-section">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-2 relative z-20"
                  :src="require('~/assets/img/Products/SocialTrading/figure2.svg')"
                  alt="figure 2"
              >
              <img
                class="app-example-size absolute -left-20"
                :src="require('~/assets/img/Products/SocialTrading/desktop-example2.png')"
                alt="app desktop example 2"
              >
              <img
                class="app-mobile-size absolute right-2/4 top-1/4"
                :src="require('~/assets/img/Products/SocialTrading/mobile-example2.png')"
                alt="app mobile example 1"
              >
            </div>
            <div class="mt-36 flex flex-col">
            <span class="second-row-text">
              Social Trading and Investment Management solution to make investors copy
              succesfull traders, rate prolertly traders, make competitions between  traders and investors.
            </span>
            </div>
          </div>
        </div>
      </section>
      <section class="third-section">
        <div class="flex flex-col">
          <div class="third-row flex relative w-screen">
            <div class="mt-14 flex flex-col">
            <span class="second-row-text">
              Ability to attach traders or investors
              accounts from another MT4 or MT5 brokers, to afford soft transfer of accounts.
            </span>
            </div>
            <div class="forms-wrapper">
              <div class="forms relative">
                <img
                    class="figure-3 relative z-20"
                    :src="require('~/assets/img/Products/SocialTrading/figure3.svg')"
                    alt="figure 3"
                >
                <img
                  class="form-size rounded-lg absolute -left-60 top-60 z-10"
                  :src="require('~/assets/img/Products/SocialTrading/form-1.png')"
                  alt="form 1"
                >
                <img
                  class="form-size rounded-lg relative"
                  :src="require('~/assets/img/Products/SocialTrading/form-2.png')"
                  alt="form 2"
                >
                <img
                  class="form-size rounded-lg absolute right-60 top-32 z-10"
                  :src="require('~/assets/img/Products/SocialTrading/form-3.png')"
                  alt="form 3"
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="fourth-section">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <div class="app-examples-second">
              <img
                  class="figure-4 relative z-20"
                  :src="require('~/assets/img/Products/SocialTrading/figure4.svg')"
                  alt="figure 4"
              >
              <img
                class="app-example-size absolute -left-20"
                :src="require('~/assets/img/Products/SocialTrading/desktop-example3.png')"
                alt="app desktop example 3"
              >
            </div>
            <div class="ml-12 mt-40 flex flex-col">
            <span class="fourth-row-text">
              Leader Boards, Badges for accounts, based on statistics
              or competitions, manual badges, strategies and many other ways to sort traders.
            </span>
            </div>
          </div>
        </div>
      </section>
      <section class="fifth-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="big-text font-bold uppercase">Portfolios</h1>
          <div class="first-row flex relative w-screen">
            <div class="mt-14 flex flex-col">
            <span class="fifth-row-text">
              Great Portfolio Asset Management allows traders to track
              investors portfolio and investor to track portfolio of investments to traders
            </span>
            </div>
            <img
                class="figure-5 relative z-20"
                :src="require('~/assets/img/Products/SocialTrading/figure5.svg')"
                alt="figure 5"
            >
            <img
              class="app-example-size absolute -right-10"
              :src="require('~/assets/img/Products/SocialTrading/desktop-example4.png')"
              alt="app desktop example 4"
            >
            <img
              class="app-mobile-size absolute left-2/4 top-1/4"
              :src="require('~/assets/img/Products/SocialTrading/mobile-example4.png')"
              alt="app mobile example 4"
            >
          </div>
        </div>
      </section>
      <section class="last-section overflow-y-clip">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <div class="app-examples-first">
<!--              <img class="figure-6 relative z-20" :src="require('~/assets/img/Products/SocialTrading/figure6.svg')" alt="figure 6">-->
              <img
                class="app-example-size absolute -left-20"
                :src="require('~/assets/img/Products/SocialTrading/desktop-example5.png')"
                alt="app desktop example 2"
              >
              <img
                class="app-mobile-size absolute right-2/4 top-1/4"
                :src="require('~/assets/img/Products/SocialTrading/mobile-example5.png')"
                alt="app mobile example 1"
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <quick-contact class="quick-contacts z-10"></quick-contact>
    <Footer />
  </main>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'SocialTradingFull',
  components: {
    QuickContact
  },
  layout: 'SocialTradingFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
  }
   .first-row {
     height: 470px;
   }
   .second-row {
     height: 470px;
   }
   .second-row-text {
     width: 435px;
   }
   .third-row {
     height: 750px;
   }
   .fourth-row-text {
     width: 493px;
   }
   .fifth-row-text {
     width: 462px;
   }
   .app-examples-first {
     width: 770px;
   }
   .app-examples-second {
     width: 645px;
   }
   .forms-wrapper {
     width: 60%;
     height: 700px;
   }
   .forms {
     top: -14%;
     right: -47%;
     transform: rotate(-15deg);
   }
   .form-size {
     width: 391px;
     height: 443px;
   }
  .figure-1 {
    position: absolute;
    top: -30%;
    right: 10%;
  }
  .figure-2 {
    position: absolute;
    top: -30%;
    left: 7%;
  }
  .figure-3 {
    position: absolute;
    top: -17%;
    right: 40%;
  }
  .figure-4 {
    position: absolute;
    top: -36%;
    left: 2%;
  }
  .figure-5 {
    position: absolute;
    top: -36%;
    right: 12%;
  }
  .figure-6 {
    position: absolute;
    top: -10%;
    left: 12%;
  }
</style>
