<template>
  <section class="flex">
    <div class="first-column flex">
      <vertical-text
          :text="'traders area'"
          :styles="'bottom-to-top-direction big-text'"
      ></vertical-text>
      <div class="app-example-styles">
        <img
            class="app-example-size"
            :src="require('~/assets/img/Products/TradersArea/app-example.png')"
            alt="application page example"
        >
<!--        <img class="figure relative z-20" :src="require('~/assets/img/figure.svg')" alt="figure">-->
      </div>
    </div>
    <div class="second-column flex flex-col">
      <p>
        <span class="font-bold uppercase">migrating users</span>
        <br>
        Support of multiple servers at one platforms allows
        you to manage all your infrastructure in one place.
        <br>
        Add simply ZigZag Trader 3, MT4, MT5 servers and manage its accounts,
        groups, symbols, currencies and rest entities
      </p>
      <p class="mt-16">
        <span class="font-bold uppercase">traders area</span>
        <br>
        Client Area is a mix of standart number of functionality, investment/copy oportunity and socializing:
        <br>
        <br>
        KYC, Deposits, Withdrawals, Multi Wallet support, Application forms and Backoffice
        side validations for each and every step.
      </p>
      <read-more-button
          :styles="'blue-btn'"
          :text="`Read more`"
          :path="'products/traders_area/traders_area_full'"
          class="mt-24"
      ></read-more-button>
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import VerticalText from "~/components/VerticalText.vue";
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'TradersArea',
  components: {
    QuickContact,
    ReadMoreButton,
    VerticalText
  },
  layout: 'TradersArea'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
  }
  .app-example-styles {
    width: 714px;
    height: 403px;
    margin: 87px 0 0 20px;
  }
  .second-column {
    width: 337px;
    margin: 87px 0 0 54px;
  }
  .text-size {
    width: 337px;
  }
  .figure {
    position: absolute;
    top: 8px;
    left: 14%;
  }
</style>
