<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="big-text font-bold uppercase">traders area</h1>
          <div class="first-row flex relative w-screen">
            <div class="mt-14 flex flex-col">
              <article class="paragraph-size">
                <h3>
                  Advanced Wallet Management. Ability to deposit on any offered currency.
                </h3>
                <p class="mt-4">
                  Ability to transfer between wallets with exchanges rates and commission charge.
                  Ability to top up any account from wallet and return money back on it.
                </p>
              </article>
            </div>
            <img
                class="figure-1 relative z-20"
                :src="require('~/assets/img/Products/TradersArea/figure.svg')"
                alt="figure"
            >
            <img
                class="app-example-size absolute -right-10"
                :src="require('~/assets/img/Products/TradersArea/desktop-example.png')"
                alt="app desktop example 1"
            >
            <img
                class="app-example-size absolute right-52 top-60"
                :src="require('~/assets/img/Products/TradersArea/desktop-example2.png')"
                alt="app desktop example 2"
            >
          </div>
        </div>
      </section>
      <section class="second-section">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-2 relative z-20"
                  :src="require('~/assets/img/Products/TradersArea/figure2.svg')"
                  alt="figure 2"
              >
              <img
                  class="app-example-size absolute -left-10"
                  :src="require('~/assets/img/Products/TradersArea/desktop-example3.png')"
                  alt="app desktop example 3"
              >
              <img
                  class="app-example-size absolute left-52 top-60"
                  :src="require('~/assets/img/Products/TradersArea/desktop-example4.png')"
                  alt="app desktop example 4"
              >
            </div>
          </div>
        </div>
      </section>
      <section class="fifth-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="big-text font-bold uppercase">trading terminal</h1>
          <div class="last-row flex relative w-screen">
            <div class="mt-14 flex flex-col">
            <span class="paragraph-size">
              Advanced Trading Terminal with ability to trade from any trading account,
              manage orders and control opened and closed orders. All orders coming from
              investing or copy trading will be referenced with source of creation
              Live pricing and charging with all available time frames from server.
            </span>
            </div>
<!--            <img class="figure-3 relative z-20" :src="require('~/assets/img/Products/TradersArea/figure3.svg')" alt="figure 3">-->
            <img
                class="app-example-size absolute -right-10"
                :src="require('~/assets/img/Products/TradersArea/desktop-example5.png')"
                alt="app desktop example 5"
            >
          </div>
        </div>
      </section>
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
    <Footer />
  </main>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'TradersAreaFull',
  components: {
    QuickContact
  },
  layout: 'TradersAreaFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
  }
  .first-row {
    height: 640px;
  }
  .paragraph-size {
    width: 500px;
  }
  .second-row {
    height: 640px;
  }
  .last-row {
    height: 440px;
  }
  .figure-1 {
    position: absolute;
    top: -3%;
    right: 9%;
  }
  .figure-2 {
    position: absolute;
    top: 1%;
    left: 10%;
  }
  .figure-3 {
    position: absolute;
    top: -35%;
    right: 5%;
  }
</style>
