<template>
  <footer class="footer-bg py-6">
    <div class="px-9 wrapper grid grid-cols-4">
      <div class="flex flex-col gap-y-6 self-end">
        <div class="social-media flex justify-between">
          <a class="footer-icon" href="#">
            <img :src="require('~/assets/icons/linkedin.svg')" alt="LinkedIn icon">
          </a>
          <a class="footer-icon" href="#">
            <img :src="require('~/assets/icons/twitter.svg')" alt="Twitter icon">
          </a>
          <a class="footer-icon" href="#">
            <img :src="require('~/assets/icons/facebook.svg')" alt="Facebook icon">
          </a>
        </div>
        <span>© 2021 FintekSoft LLC</span>
      </div>
      <div class="list-of-activity justify-self-center mb-3">
        <ul class="flex flex-col gap-y-4">
          <li>
            <a class="footer-link" href="#">Services</a>
          </li>
          <li>
            <a class="footer-link" href="#">Custom Software Development</a>
          </li>
          <li>
            <a class="footer-link" href="#">Database Development</a>
          </li>
          <li>
            <a class="footer-link" href="#">App Development</a>
          </li>
          <li>
            <a class="footer-link" href="#">Website Design</a>
          </li>
        </ul>
      </div>
      <div class="sections justify-self-center">
        <ul class="flex flex-col gap-y-4">
          <li>
            <a class="footer-link" href="#">Blog</a>
          </li>
          <li>
            <a class="footer-link" href="#">Article 1 (advantages)</a>
          </li>
          <li>
            <a class="footer-link" href="#">Article 2 (Our story)</a>
          </li>
        </ul>
      </div>
      <div class="justify-self-end self-end">
        <button class="contact-btn rounded-md border border-main">
          <span>Contact us</span>
        </button>
      </div>
    </div>
  </footer>
</template>

<style scoped>
  .footer-bg {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9px);
  }
  .social-media {
    width: 145px;
  }
  .contact-btn {
    width: 180px;
    height: 40px;
  }
</style>
