<template>
  <div class="flex items-center">
    <nuxt-link class="cursor-pointer" exact to="/">
        <svg width="37" height="39" viewBox="0 0 37 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_312_4812)">
            <path d="M7.66797 36.3543L35.58 3.05176e-05C35.58 3.05176e-05 38.1872 4.1183 36.1935 6.53245C34.1997 8.9466 16.7164 31.9521 16.7164 31.9521H28.9854V20.5913L33.5863 14.769V35.367C33.5863 35.9123 33.1089 36.3543 32.52 36.3543H7.66797Z" fill="url(#paint0_linear_312_4812)"/>
            <path d="M29.2764 1.21875L1.3643 37.5731C1.3643 37.5731 -1.24287 33.4548 0.750863 31.0406C2.7446 28.6265 20.2279 5.62101 20.2279 5.62101L7.95893 5.62101L7.95893 16.9818L3.35803 22.8041L3.35803 2.20609C3.35803 1.66078 3.8354 1.21875 4.42431 1.21875L29.2764 1.21875Z" fill="url(#paint1_linear_312_4812)"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_312_4812" x1="22.3062" y1="36.3543" x2="22.3062" y2="3.05176e-05" gradientUnits="userSpaceOnUse">
              <stop stop-color="#15CFCF"/>
              <stop offset="1" stop-color="#0073A5"/>
            </linearGradient>
            <linearGradient id="paint1_linear_312_4812" x1="14.6381" y1="1.21875" x2="14.6381" y2="37.5731" gradientUnits="userSpaceOnUse">
              <stop stop-color="#15CFCF"/>
              <stop offset="1" stop-color="#0073A5"/>
            </linearGradient>
            <clipPath id="clip0_312_4812">
              <rect width="37" height="39" fill="white"/>
            </clipPath>
          </defs>
        </svg>
    </nuxt-link>

    <nuxt-link
        class="ml-3 text-2xl uppercase cursor-pointer"
        no-prefetch
        exact to="/"
    >
      zig zag
    </nuxt-link>
  </div>
</template>
