<template>
  <div class="nav">
    <div class="nav__menu uppercase">
      <ul
          v-if="this.styles"
          :class="this.styles.mainStyles"
          class="flex justify-between text-base font-normal"
      >
        <li
            v-for="(tab, idx) in navTabs.tabs"
            :key="idx"
            class="transition-all duration-300 hover:scale-125 hover:font-bold"
        >
          <nuxt-link
              no-prefetch
              active-class="active-header-tab"
              class="ml-3 uppercase cursor-pointer"
              :to="navTabs.routes[idx]"
          >
            {{ tab }}
          </nuxt-link>
        </li>
      </ul>
      <ul v-else class="flex justify-between text-base font-normal">
        <li
            v-for="(tab, idx) in navTabs.tabs"
            :key="idx"
            class="transition-colors hover:text-color-green duration-300"
        >
          <nuxt-link
              no-prefetch
              active-class="active-header-tab"
              class="ml-3 uppercase cursor-pointer"
              :to="navTabs.routes[idx]"
          >
            {{ tab }}
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'Navbar',
  props: {
    styles: {
      type: Object
    },
    navTabs: {
      type: Object,
      default () {
        return {
          tabs: [
            'zigzag social trading',
            'zigzag traders area',
            'zigzag backoffice',
            'zigzag trader 3.0',
            'zigzag social network',
            'zigzag mobile'
          ],
          routes: [
            '/products/social_trading',
            '/products/traders_area',
            '/products/backoffice',
            '/products/trader',
            '/products/social_network',
            '/products/mobile'
          ]
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .nav {
    &__menu {
      span {
        cursor: pointer;
      }
    }
  }
</style>
