<template>
  <div class="contacts">
    <div :class="{'items-end': !this.order}" class="flex flex-col">
      <div class="flex">
        <div
            :class="{'visible': phones, 'invisible': !phones, 'order-2': this.order, 'ml-3': this.order}"
            class="phones flex flex-col gap-y-3 hover:visible"
        >
          <div class="flex items-center">
            <img
                v-clipboard:copy="'+442031292265'"
                class="w-5 h-5 cursor-pointer mr-3"
                :src="require('~/assets/icons/copy.svg')"
                alt="copy icon"
            >
            <img
                class="w-5 h-5 mr-2"
                :src="require('~/assets/img/GreatBritain.png')"
                alt="Flag of Great Britain"
            >
            <a class="call mr-3" href="tel:+442031292265">+44 (20) 31-29-22-65</a>
          </div>
          <div class="flex items-center">
            <img
                v-clipboard:copy="'+16466471298'"
                class="w-5 h-5 cursor-pointer mr-3"
                :src="require('~/assets/icons/copy.svg')"
                alt="copy icon"
            >
            <img
                class="w-5 h-5 mr-2"
                :src="require('~/assets/img/USA.png')"
                alt="Flag of USA"
            >
            <a class="call mr-3" href="tel:+16466471298">+1 (646) 647-1298</a>
          </div>
        </div>
          <img
              @mouseenter="phones = !phones"
              @mouseleave="phones = !phones"
              class="w-7 h-7 cursor-pointer"
              :src="require('~/assets/icons/phone.svg')"
              alt="phone icon"
          >
      </div>
      <div class="mt-4 flex">
        <div
            :class="{'visible': mail, 'invisible': !mail, 'order-2': this.order, 'pl-3': this.order}"
            class="mail flex flex-col gap-3 hover:visible"
        >
          <div class="flex items-center gap-3">
            <img
                v-clipboard:copy="'sales@zigzagtrader.xyz'"
                class="w-5 h-5 cursor-pointer"
                :src="require('~/assets/icons/copy.svg')"
                alt="copy icon"
            >
            <a class="mr-3" href="mailto:sales@zigzagtrader.xyz">sales@zigzagtrader.xyz</a>
          </div>
          <div class="flex items-center gap-3">
            <img
                v-clipboard:copy="'sales@finteksoft.info'"
                class="w-5 h-5 cursor-pointer"
                :src="require('~/assets/icons/copy.svg')"
                alt="copy icon"
            >
            <a class="mr-3" href="mailto:sales@finteksoft.info">sales@finteksoft.info</a>
          </div>
        </div>
        <img
            @mouseenter="mail = !mail"
            @mouseleave="mail = !mail"
            class="w-7 h-7 cursor-pointer"
            :src="require('~/assets/icons/mail.svg')"
            alt="mail icon"
        >
      </div>
      <div class="mt-8 flex">
        <div
            :class="{'visible': skype, 'invisible': !skype, 'order-2': this.order, 'pl-3': this.order}"
            class="skype flex items-center gap-3 hover:visible"
        >
          <img
              v-clipboard:copy="'live:sales_94558'"
              class="w-5 h-5 cursor-pointer stroke-white"
              :src="require('~/assets/icons/copy.svg')"
              alt="copy icon"
          >
          <a class="mr-3" href="skype:live:sales_94558">live:sales_94558</a>
        </div>
        <img
            @mouseenter="skype = !skype"
            @mouseleave="skype = !skype"
            class="w-7 h-7 cursor-pointer"
            :src="require('~/assets/icons/skype.svg')"
            alt="skype icon"
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'

Vue.use(VueClipboard)

export default {
  props: {
    order: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      phones: false as boolean,
      mail: false as boolean,
      skype: false as boolean
    }
  }
}
</script>

<style scoped>
  .phones, mail, skype {
    transition: .3s visibility;
  }
  .quick-contact img {
    cursor: pointer;
  }
</style>
