<template>
  <div class="wrapper">
    <nuxt-link
        no-prefetch
        :class="styles"
        class="read-more-button btn"
        :to="`/${path}`"
    >
      <span>{{ this.text }}</span>
      <svg width="40" height="8" viewBox="0 0 40 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.3536 4.35356C39.5488 4.15829 39.5488 3.84171 39.3536 3.64645L36.1716 0.464469C35.9763 0.269207 35.6597 0.269207 35.4645 0.464469C35.2692 0.659731 35.2692 0.976314 35.4645 1.17158L38.2929 4L35.4645 6.82843C35.2692 7.02369 35.2692 7.34027 35.4645 7.53554C35.6597 7.7308 35.9763 7.7308 36.1716 7.53554L39.3536 4.35356ZM-4.37114e-08 4.5L39 4.5L39 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#E3E4E8"/>
      </svg>
    </nuxt-link>
  </div>
</template>

<script lang="ts">
  export default {
    layout: 'Navbar',
    props: {
      text: {
        type: String,
        default: ''
      },
      path: {
        type: String,
        default: ''
      },
      styles: {
        type: String,
        default: 'main-btn'
      }
    }
  }
</script>

<style lang="scss">
  .read-more-button {
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid #E3E4E8;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 900;

    transition: .3s;
  }
</style>
