<template>
  <div>
    <h1 :class="this.styles" class="vertical-text">{{ this.text }}</h1>
  </div>
</template>

<script lang="ts">
export default {
  name: 'VerticalText',
  props: {
    text: {
      type: String,
      default: ''
    },
    styles: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
  .vertical-text {
    height: 645px;
    font-weight: 900;
    text-transform: uppercase;
  }
</style>
