/*Button animations*/
.main-btn {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
  border-image-slice: 4;
  overflow: hidden;

  &:hover {
    &:after {
      width: 120%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    transition: 0.3s;
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(to right, #010202 0%, #040A0A 12%, #091717 24%, #102626 35%, #153636 45%, #1B4444 60%, #1D4A4A 77%, #265F5F 89%, #183230 100%);
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
}

.green-blue-btn {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
  border-image-slice: 4;
  overflow: hidden;

  &:hover {
    &:after {
      width: 120%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    transition: 0.3s;
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(to right, #050809FF 0%, #101C1FFF 12%, #132328FF 24%, #152A31FF 35%, #162F38FF 45%, #16343FFF 60%, #153946 77%, #133e4d 89%, #10475BFF 100%);
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
}

.blue-btn {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
  border-image-slice: 4;
  overflow: hidden;

  &:hover {
    &:after {
      width: 120%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    transition: 0.3s;
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(to right, #010202 0%, #0D1623FF 12%, #0d1623 24%, #0F1E33FF 35%, #10223DFF 45%, #102546FF 60%, #112B54FF 77%, #044860 89%, #0C3572FF 100%);
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
}

.golden-btn {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
  border-image-slice: 4;
  overflow: hidden;

  &:hover {
    &:after {
      width: 120%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    transition: 0.3s;
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(to right, #150D05FF 0%, #150d05 12%, #4B361DFF 24%, #674E2FFF 35%, #886C49FF 45%, #AB8F6B 60%, #8C7965 77%, #9C948A 89%, #DCDEC5 100%);
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
}
