@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande-Bold.eot');
  src: url('../fonts/LucidaGrande-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LucidaGrande-Bold.woff2') format('woff2'),
  url('../fonts/LucidaGrande-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande.eot');
  src: url('../fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LucidaGrande.woff2') format('woff2'),
  url('../fonts/LucidaGrande.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
