@import "./fonts.css";
@import "./animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    outline: none !important;
  }

  html{
    @apply text-sm text-color-main leading-6 cursor-default
  }

  body {
    overflow: hidden;
    background-color: #000;
    @apply overflow-y-auto
  }

  .active-header-tab {
    @apply text-color-blue
  }

  .app-example-size {
    width: 714px;
    height: 402px;
  }

  .app-mobile-size {
    width: 143px;
    height: 310px;
  }

  /* Vertical Text and titles */
  .small-text {
    font-size: 30px;
    line-height: 30px;
  }
  .middle-text {
    font-size: 60px;
    line-height: 60px;
  }
  .big-text {
    font-size: 72px;
    line-height: 72px;
  }
  .extra-large-text {
    font-size: 124px;
    line-height: 253px;
  }
  .bottom-to-top-direction {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: end;
  }
  .top-to-bottom-direction {
    writing-mode: vertical-lr;
  }

  /* Form */
  .contact-form {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 115px;
  }
  .contact-label {
    @apply uppercase text-color-gray
  }
  .contact-input {
    @apply w-full bg-transparent border-b border-color-main pl-6 my-3
  }
  .submit_btn {
    width: 173px;
    height: 34px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #347776;
    text-transform: uppercase;
    transition: .3s background-color;

    &:hover {
      background-color: #275858;
    }
  }


  /* Footer */
  .footer-link {
    @apply transition-colors duration-300 hover:text-color-blue
  }
  .footer-icon {
    @apply transition-transform duration-300 hover:scale-125
  }
}
