<template>
  <section class="flex">
    <div class="first-column flex">
      <div class="app-example-styles">
        <img
            :src="require('~/assets/img/Products/SocialNetwork/app-example.png')"
            alt="application page example"
        >
<!--        <img class="figure relative" :src="require('~/assets/img/Products/SocialNetwork/main-figure.svg')" alt="figure">-->
      </div>
    </div>
    <div class="second-column flex">
      <div class="second-column__content flex flex-col">
        <p>
          Social Network for proffesional Traders and Investors.
          Allows Traders to find investors, market their strategies and promote brand.
          Investors can chose suitable investment plans and create great portfolios.
          Competitions is made to compare profitability of Traders with their strategies
          as well as Investors to compare their portfolio success.
          <br>
          Regulation management with company names and law information about regulation.
        </p>
        <p class="mt-8">
          <span class="font-bold uppercase">Communicate, find Investors and Traders:</span>
          <br>
          <br>
          Communication lever for traders is now on new level. Make Publications,
          Create Chat Groups, Promote accounts and WebPages.
        </p>
        <read-more-button
            :styles="'green-blue-btn'"
            :text="`Read more`"
            :path="'products/social_network/social_network_full'"
            class="mt-32"
        ></read-more-button>
      </div>
      <vertical-text
          class="ml-48 mt-6 big-text"
          :text="'social network'"
          :styles="'top-to-bottom-direction'"
      ></vertical-text>
    </div>
    <quick-contact order class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import VerticalText from "~/components/VerticalText.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'SocialNetwork',
  components: {
    QuickContact,
    VerticalText,
    ReadMoreButton
  },
  layout: 'SocialNetwork'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    left: 3%;
    bottom: 9%;
  }
  .app-example-styles {
    width: 714px;
    height: 403px;
    margin-top: 87px;
  }
  .second-column {
    margin-left: 114px;
  }
  .second-column__content {
    width: 300px;
    margin-top: 87px;
  }
  .figure {
    position: absolute;
    top: 8px;
    left: 1%;
  }
</style>
