<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-8 flex justify-between">
        <div class="flex flex-col">
          <h1 class="ml-4 big-text font-bold uppercase">support</h1>
          <div class="first-row flex relative w-screen">
            <ul class="mt-8 ml-8 list-disc">
              <li>Tickets</li>
              <li>Chats</li>
            </ul>
<!--            <img class="figure-1 relative z-20" :src="require('~/assets/img/Products/SocialNetwork/figure.svg')" alt="figure">-->
            <img
                class="app-example-size absolute -right-10 z-10"
                :src="require('~/assets/img/Products/SocialNetwork/desktop-example.png')"
                alt="app desktop example 1"
            >
            <img
                class="app-example-size absolute right-52 top-60"
                :src="require('~/assets/img/Products/SocialNetwork/desktop-example2.png')"
                alt="app desktop example 2"
            >
          </div>
        </div>
      </section>
      <section class="second-section mt-20">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-2 relative z-20"
                  :src="require('~/assets/img/Products/SocialNetwork/figure2.svg')"
                  alt="figure 2"
              >
              <img
                  class="app-example-size app-example-third"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example3.png')"
                  alt="app desktop example 3"
              >
              <img
                  class="app-example-size app-example-fourth"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example4.png')"
                  alt="app desktop example 4"
              >
              <img
                  class="app-example-size app-example-fifth"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example2.png')"
                  alt="app desktop example 5"
              >
            </div>
            <article class="flex flex-col">
              <h3 class="ml-4 big-text font-bold uppercase">messenger</h3>
              <ul class="mt-12 ml-8 list-disc">
                <li>Direct Messages</li>
                <li>Group Chats</li>
                <li>Support Chats</li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="last-section">
        <div class="flex flex-col">
          <div class="second-row flex relative w-screen">
            <article class="third-row-list flex flex-col">
              <h3>Proper Risk Management for Copy trading(Portfolio):</h3>
              <ul class="ml-8 list-disc">
                <li>
                  Ability to Chose Resk Method, From Simple Multilier to advances,
                  Proportional and Percentage based risk methods
                </li>
                <li>
                  Advanced protection from loose and to fix profit
                  with Safe Guard Functionality
                </li>
                <li>Automatic and manual symbol mapping</li>
                <li>
                  Profit and Lot Based Commisstions On copied
                  orders for Traders and Broker
                </li>
              </ul>
            </article>
            <div class="app-examples-first">
              <img
                  class="figure-3 relative z-20"
                  :src="require('~/assets/img/Products/SocialNetwork/figure3.svg')"
                  alt="figure 3"
              >
              <img
                  class="app-example-size app-example-tenth"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example5.png')"
                  alt="app desktop example 6"
              >
              <img
                  class="app-example-size app-example-eleventh"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example5.png')"
                  alt="app desktop example 7"
              >
              <img
                  class="app-example-size app-example-twelfth"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example6.png')"
                  alt="app desktop example 8"
              >
            </div>
          </div>
        </div>
      </section>
      <section class="third-section mt-16">
        <div class="flex flex-col">
          <h3 class="big-text font-bold uppercase">
            Advanced Social Network Capabilities
          </h3>
          <div class="mt-5 last-row flex relative w-screen">
            <div class="app-examples-first">
              <img
                  class="figure-4 relative z-20"
                  :src="require('~/assets/img/Products/SocialNetwork/figure4.svg')"
                  alt="figure 4"
              >
              <img
                  class="app-example-size app-example-third"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example.png')"
                  alt="app desktop example 9"
              >
              <img
                  class="app-example-size app-example-seventh"
                  :src="require('~/assets/img/Products/SocialNetwork/desktop-example2.png')"
                  alt="app desktop example 10"
              >
            </div>
            <ul class="ml-8 last-row-list list-disc">
              <li>Ability to post publications from account, user or web page</li>
              <li>
                Ability to watch traders accouns, web pages or users, comment publications, add likes and dislikes,
                friendship and datafeed with all updates from people you are in relations
              </li>
              <li>Publish Orders to market your success</li>
              <li>Publish traders accounts to show statistics and market it</li>
              <li>
                Videos Section, News and Tutorials
              </li>
              <li>
                Competitions with ability to make competition between traders and investors portfolios,
                Prizes based on rating. Bages applied to winners at any rate
              </li>
              <li>
                Refferal System with multi level support, Refferal links,
                commission for deposit, profit or per lot.
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <QuickContact class="quick-contacts" />
    <Footer class="mt-16" />
  </main>
</template>

<script lang="ts">
export default {
  name: 'BackofficeFull',
  layout: 'BackofficeFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
    z-index: 10;
  }
  .first-row {
    height: 640px;
  }
  .second-row {
    height: 830px;
  }
  .third-row {
    height: 600px;
  }
  .app-examples-first {
    width: 690px;
  }
  .app-example-third {
    position: absolute;
    left: -5%;
  }
  .app-example-fourth {
    position: absolute;
    top: 25%;
    left: 28%;
  }
  .app-example-fifth {
    position: absolute;
    top: 50%;
    right: 1%;
  }
  .app-example-seventh {
    position: absolute;
    top: 35%;
    left: 28%;
  }
  .app-example-tenth {
    position: absolute;
    right: -1%;
    top: 4%;
  }
  .app-example-eleventh {
    position: absolute;
    top: 29%;
    right: 26%;
    z-index: 2;
  }
  .app-example-twelfth {
    position: absolute;
    top: 50%;
    left: -6%;
    z-index: 1;
  }
  .third-row-list {
    width: 510px;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .last-row {
    height: 670px;
  }
  .last-row-list {
    width: 519px;
  }
  .figure-1 {
    position: absolute;
    top: -23%;
    left: 37%;
  }
  .figure-2 {
    position: absolute;
    top: 10%;
    left: 30%;
  }
  .figure-3 {
    position: absolute;
    top: 10%;
    left: 30%;
  }
  .figure-4 {
    position: absolute;
    top: -3%;
    left: 12%;
  }
</style>
