<template>
  <div class="mt-80 px-20">
    <navbar-secondary :navTabs="navTabs" :styles="navStyles"></navbar-secondary>
  </div>
</template>

<script lang="ts">
import NavbarSecondary from "~/components/NavbarSecondary.vue";

export default {
  name: 'Products',
  layout: 'Products',
  components: {
    NavbarSecondary
  },
  data () {
    return {
      navStyles: {
        mainStyles: 'w-full justify-between'
      } as {},
      navTabs: {
        tabs: [
          'zigzag social trading',
          'zigzag traders area',
          'zigzag backoffice',
          'zigzag trader 3.0',
          'zigzag social network',
          'zigzag mobile'
        ],
        routes: [
          '/products/social_trading',
          '/products/traders_area',
          '/products/backoffice',
          '/products/trader',
          '/products/social_network',
          '/products/mobile'
        ]
      }
    }
  }
}
</script>
