<template>
  <section class="flex">
    <div class="first_column">
      <img
          class="figure z-20"
          :src="require('~/assets/img/Workflows/ForSocialTrading/figure.svg')"
          alt="figure"
      >
      <img
          class="laptop ml-12"
          :src="require('~/assets/img/Workflows/ForSocialTrading/laptop.png')"
          alt="laptop"
      >
    </div>
    <div class="second-column flex">
      <div class="flex flex-col items-end">
        <h1 class="big-text font-bold uppercase">for social trading</h1>
        <div class="first-column__content mt-14">
          <p>
            <span>
              Ready Made Social Network for Traders and Investors. Share your posts,
              Promote your Trading Accounts, share success and find great investors.
              Full Support of Trading, ability to work with any mt4 or mt5 accounts,
              ability to use zigzag trading platform for accounts. Make competitions
              for traders for best strategy or for investors for best investment portfolio.
              Manage Portfolio smart, using Risk methods and Safe Guard. Setup Take Profit
              and Stop Loss for your Portfolio Assets
            </span>
            <br>
            <br>
            <span class="font-bold uppercase">multi platform support</span>
            <br>
            <br>
            Integrated support of Metatrader4 and Metatrader 5 platforms allows
            you to softly change platform or use all of them together.
            <br>
            <br>
            Manage MT4 and MT5 Servers over Manager API,  also allow to attach traders and/or
            investors from external brokers accounts and make/pay commission with inbuilt wallets.
            <br>
            <br>
            ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks, configure datafeeds
            and order processing just inside backoffice, with no need any external apps
          </p>
        </div>
      </div>
    </div>
    <quick-contact order class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'ForSocialTrading',
  components: {
    QuickContact
  },
  layout: 'ForSocialTrading'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    left: 3%;
    bottom: 9%;
  }
  .first_column {
    width: 37%;
    height: 600px;
  }
  .second-column {
    width: 63%;
    height: 600px;
    margin-top: 30px;
  }
  .first-column__content {
    width: 500px;
  }
  .laptop {
    width: 566px;
    height: 465px;
    position: absolute;
    top: 15%;
  }
  .figure {
    position: absolute;
    top: 8%;
    left: 5%;
  }
</style>
