<template>
  <section class="flex">
    <div class="first_column">
      <img
          class="figure relative z-20"
          :src="require('~/assets/img/Workflows/ForHadgeFunds/figure.svg')"
          alt="figure"
      >
      <img
          class="laptop ml-12"
          :src="require('~/assets/img/Workflows/ForHadgeFunds/laptop.png')"
          alt="laptop"
      >
    </div>
    <div class="second-column flex">
      <div class="flex flex-col items-end">
        <h1 class="big-text font-bold uppercase">for hadge funds</h1>
        <div class="first-column__content mt-14">
          <p>
            <span>
              Provide customers with new exciting expriance to track investments(copy) with
              advanced traders cabinet. Make All Trading transparent for investors with
              orders history, commissions, ability to deposit and withdraw Funds
            </span>
            <br>
            <br>
            <span class="font-bold uppercase">multi platform support</span>
            <br>
            <br>
            We Support both, external trading platforms as well as can provide internal with bridging orders to LPs.
            <br>
            <br>
            ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks,
            configure datafeeds and order processing just inside backoffice, with no need any external apps
            Integrated support of Metatrader4 and Metatrader 5 platforms allows you to softly
            change platform or use all of them together.
            <br>
            <br>
            Manage MT4 and MT5 Servers over Manager API,  also allow to attach traders and/or
            investors from external brokers accounts and make/pay commission with inbuilt wallets.
            <br>
            <br>
            Any other platforms can be integrated by request.
          </p>
        </div>
      </div>
    </div>
    <quick-contact order class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'ForHadgeFunds',
  components: {
    QuickContact
  },
  layout: 'ForHadgeFunds'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    left: 3%;
    bottom: 9%;
  }
  .first_column {
    width: 48%;
    height: 600px;
  }
  .second-column {
    width: 52%;
    height: 600px;
    margin-top: 30px;
  }
  .first-column__content {
    width: 500px;
  }
  .laptop {
    width: 566px;
    height: 465px;
    position: absolute;
    top: 15%;
  }
  .figure {
    position: absolute;
    top: 8%;
    left: 5%;
  }
</style>
