<template>
  <section class="flex">
    <div class="first-column flex">
      <img
          class="figure z-20"
          :src="require('~/assets/img/Workflows/ForSocialNetwork/figure.svg')"
          alt="figure"
      >
      <div class="flex flex-col">
        <h1 class="big-text font-bold uppercase">for social networking</h1>
        <div class="first-column__content mt-14">
          <p>
            <span>
              Ready Made Social Network for Traders and Investors. Share your posts,
              Promote your Trading Accounts, share success and find great investors.
              Full Support of Trading, ability to work with any mt4 or mt5 accounts,
              ability to use zigzag trading platform for accounts. Make competitions
              for traders for best strategy or for investors for best investment portfolio.
            </span>
            <br>
            <br>
            <span class="font-bold uppercase">multi platform support</span>
            <br>
            Integrated support of Metatrader4 and Metatrader 5 platforms
            allows you to softlychange platform or use all of them together.
            <br>
            <br>
            Manage MT4 and MT5 Servers over Manager API,  also allow to attach traders and/or
            investors from external brokers accounts and make/pay commission with inbuilt wallets.
            <br>
            <br>
            ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks, configure
            datafeeds and order processing just inside backoffice, with no need any external apps
          </p>
        </div>
      </div>
    </div>
    <div class="second-column">
      <img
          class="laptop"
          :src="require('~/assets/img/Workflows/ForSocialNetwork/laptop.png')"
          alt="laptop"
      >
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'ForSocialNetworking',
  components: {
    QuickContact
  },
  layout: 'ForSocialNetworking'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
    z-index: 30;
  }
  .first-column {
    width: 72%;
    height: 600px;
    margin-top: 30px;
  }
  .first-column__content {
    width: 500px;
  }
  .laptop {
    width: 650px;
    height: 492px;
    position: absolute;
    top: 16%;
    right: 6%;
  }
  .figure {
    position: absolute;
    top: 10%;
    right: 0;
  }
</style>
