<template>
  <section class="flex">
    <div class="first-column flex">
      <div class="flex flex-col">
        <h1 class="big-text font-bold uppercase">for money managers</h1>
        <div class="first-column__content mt-14">
          <p>
            <span>
              Posibility to add manually traders and investors from any MT4 or MT5 brokers.
              Ability to manage copying risk, setup take profit and stop loss for copy rule.
              Ability to use wallets to pay commissions as well as make subscription based payments.
            </span>
            <br>
            <br>
            <span class="font-bold uppercase">multi platform support</span>
            <br>
            Integrated support of Metatrader4 and Metatrader 5 platforms
            allows you tosoftly change platform or use all of them together.
            <br>
            <br>
            Manage MT4 and MT5 Servers over Manager API,  also allow to attach traders and/or
            investors from external brokers accounts and make/pay commission with inbuilt wallets.
            <br>
            <br>
            ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks,
            configure datafeeds and order processing just inside backoffice, with no need any external apps
          </p>
        </div>
      </div>
    </div>
    <div class="second-column">
      <img
          class="figure relative z-20"
          :src="require('~/assets/img/Workflows/ForMoneyManagers/figure.svg')"
          alt="figure"
      >
      <img
          class="laptop"
          :src="require('~/assets/img/Workflows/ForMoneyManagers/laptop.png')"
          alt="laptop"
      >
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'ForMoneyManagers',
  components: {
    QuickContact
  },
  layout: 'ForMoneyManagers'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
  }
  .first-column {
    width: 65%;
    height: 600px;
    margin-top: 30px;
  }
  .first-column__content {
    width: 500px;
  }
  .laptop {
    width: 615px;
    height: 545px;
    position: absolute;
    top: 16%;
    right: 6%;
  }
  .figure {
    position: absolute;
    top: 7%;
    right: 1%;
  }
</style>
