<template>
  <section class="flex">
    <div class="first-column flex">
      <div class="flex flex-col">
        <h1 class="big-text font-bold uppercase">for brokers</h1>
        <div class="first-column__content mt-14">
          <p>
            <span>
              Provide customers with new exciting experiance to invest(copy) and share signals.
              All in One Intergated solutions allows to make full flows required by trader
              or investor as well as broker have full ability to control accounts and manage Risks.
              Leads, KYC, Deposits and Withdrawals, Competitions, Marketing and many more.
            </span>
            <br>
            <br>
            <span class="font-bold uppercase">multi platform support</span>
            <br>
            Integrated support of Metatrader 4 and Metatrader 5 platforms allows you
            to softly change platform or use all of them together.
            <br>
            <br>
            Manage MT4 and MT5 Servers over Manager API,  also allow to attach traders
            and/or investors from external brokers accounts and make/pay commission with inbuilt wallets.
            <br>
            <br>
            ZigZag Trader 3.0 - is trading platform allows you to manage accounts, risks,
            configure datafeeds and order processing just inside backoffice, with no need any external apps
          </p>
        </div>
      </div>
    </div>
    <div class="second-column">
<!--      <img class="figure relative" :src="require('~/assets/img/Workflows/ForBrokers/figure.svg')" alt="figure">-->
      <img
          class="laptop"
          :src="require('~/assets/img/Workflows/ForBrokers/laptop.png')"
          alt="laptop"
      >
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'ForBrokers',
  components: {
    QuickContact
  },
  layout: 'ForBrokers'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    bottom: 9%;
  }
  .first-column {
    width: 50%;
    height: 600px;
    margin-top: 30px;
  }
  .first-column__content {
    width: 500px;
  }
  .laptop {
    width: 727px;
    height: 620px;
    position: absolute;
    top: 4%;
  }
  .figure {
    position: absolute;
    top: 8px;
    right: 0;
  }
</style>
