<template>
  <div class="mt-80 px-20">
    <navbar-secondary :navTabs="navTabs" :styles="navStyles"></navbar-secondary>
  </div>
</template>

<script lang="ts">
  import NavbarSecondary from "~/components/NavbarSecondary.vue";

  export default {
    name: 'Workflows',
    layout: 'Workflows',
    components: {
      NavbarSecondary
    },
    data() {
      return {
        navStyles: {
          mainStyles: 'w-full justify-between'
        } as {},
        navTabs: {
          tabs: [
            'for brokers',
            'for hadge funds',
            'for money managers',
            'for social trading',
            'for social networking'
          ],
          routes: [
            '/workflows/for_brokers',
            '/workflows/for_hadge_funds',
            '/workflows/for_money_managers',
            '/workflows/for_social_trading',
            '/workflows/for_social_networking'
          ]
        }
      }
    }
  }
</script>
