<template>
  <div class="second-layout px-12">
    <header class="pt-5 flex justify-between items-center relative z-10">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main class="flex flex-col grow">
      <div>
        <nuxt />
      </div>
    </main>
  </div>
</template>

<script>
import Logo from "~/components/Logo";

export default {
  components: {
    Logo
  }
}
</script>

<style scoped>
  .second-layout {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/Backgrounds/bg-about.png) no-repeat;
    background-size: cover;
  }
</style>
