<template>
  <div class="backoffice">
    <header class="px-12 pt-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main>
      <div>
        <nuxt />
      </div>
    </main>
  </div>
</template>

<style scoped>
  .backoffice {
    width: 100vw;
    background: url(../assets/img/Backgrounds/Backoffice/bg-backoffice.png) no-repeat;
    background-size: cover;
  }
</style>
