<template>
  <div class="main-bg px-12">
    <header class="pt-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main>
      <div>
        <nuxt />
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'defaultLayout',
  data () {
    return {
      homeURL: '/' as string,
      otherURLs: [
        '/products',
        '/workflows',
        '/our_mission',
        '/about',
        '/careers',
        '/contact_us'
      ] as string[],
      currentURL: this.$nuxt.$route.path as string
    }
  }
})
</script>

<style scoped>
  .main-bg {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/Backgrounds/bg-main.png) no-repeat;
    background-size: cover;
  }
</style>
