<template>
  <div class="second-layout px-12">
    <header class="pt-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main>
      <div>
        <nuxt />
      </div>
    </main>
  </div>
</template>

<style scoped>
  .second-layout {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/Backgrounds/bg-products.png) no-repeat;
    background-size: cover;
  }
</style>
