<template>
  <section>
    <video
        class="second-layout"
        autoplay
        muted
        poster="~/assets/img/Backgrounds/bg-socialTrading.png"
    >
      <source src="~/assets/video/bg-socialTrading.mp4" type="video/mp4">
    </video>

    <header class="header-gradient px-12 py-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4" :navTabs="navTabs"></navbar>
    </header>

    <main class="px-12">
      <div>
        <nuxt />
      </div>
    </main>
  </section>
</template>

<script lang="ts">
export default {
  data () {
    return {
      navTabs: {
        tabs: [
          'products',
          'workflows',
          'our mission',
          'about',
          'careers',
          'contact us'
        ],
        routes: [
          '/products',
          '/workflows',
          '/our_mission',
          '/about',
          '/careers',
          '/contact_us'
        ]
      }
    }
  }
}
</script>

<style scoped>
  .second-layout {
    width: 100vw;
    height: 100vh;
    transform: rotate(180deg);
    transform: scaleX(-1);
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .header-gradient {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(7px);
  }
</style>
