<template>
  <section>
    <video
        class="second-layout"
        autoplay
        muted
        poster="~/assets/img/Backgrounds/bg-tradersArea.png"
    >
      <source src="~/assets/video/bg-tradersArea.mp4" type="video/mp4">
    </video>

    <header class="header-gradient px-12 py-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main class="px-12">
      <div>
        <nuxt />
      </div>
    </main>
  </section>
</template>

<style scoped>
.second-layout {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
  .header-gradient {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(7px);
  }
</style>
