<template>
  <div class="second-layout">
    <header class="header-gradient px-12 py-5 flex justify-between items-center">
      <logo></logo>
      <navbar class="w-3/4"></navbar>
    </header>

    <main class="px-12">
      <div>
        <nuxt />
      </div>
    </main>
  </div>
</template>

<style scoped>
  .second-layout {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/Backgrounds/bg-trader.png) no-repeat;
    background-size: cover;
  }
  .header-gradient {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(7px);
  }
</style>
