<template>
  <div class="grid grid-cols-2">
    <div class="flex items-center">
      <img
          class="devices"
          :src="require('~/assets/img/About/devices.png')"
          alt="device 1"
      >
    </div>
    <div>
      <p class="text-size mt-40">
        ZIG Zag is a brand name belongs Fintek LLC founded in 2019 by a team
        of veteran industry professionals. We provide comprehensive software solutions
        and end-to-end consulting services for the financial market industry.
        <br>
        <br>
        The benefit of working with Zig Zag is simple
        <br>
        <br>
        Get All In One solution for your Brokerage Business in one place.
        Including integrated AIO software you able to allow customer to trade,
        sales to increase success and marketing to promote your products.
        <br>
        <br>
        Fintek LLC also provides outsourcing and consulting services.
        Please visit finteksoft.info for more details.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'About',
  layout: 'About'
}
</script>

<style scoped>
  .text-size {
    width: 500px;
  }
  .devices {
    width: 650px;
    height: 650px;
    position: absolute;
    top: -1%;
    left: -6%;
  }
</style>
