<template>
  <div class="mt-10 grid grid-cols-3">
    <div class="flex">
      <article class="text-size">
        <h2 class="text-xl">
          Middle/Senior C#(.Net Core) Engineer
        </h2>
        <br>
        Location:  Remote
        <br>
        <br>
        The technical requirements are as follows:
        <br>
        <br>
        <ul class="ml-6 list-disc">
          <li>Experience in C# (.Net) for services development;</li>
          <li>Experience with mongoDB;</li>
          <li>Good To Have: experience in Docker;</li>
          <li>Good To Have: understanding of RabbitMQ;</li>
          <li>Good To Have: Understanding or experience with GraphQL;</li>
          <li>Knowledge of windows and ubuntu</li>
        </ul>
        <br>
        If you interested please send us CV over mail: work@zigzagtrader.xyz
      </article>
    </div>
    <div class="justify-self-center">
      <article class="text-size">
        <h2 class="text-xl">
          Senior Frontend, Vue.js Developer
        </h2>
        <br>
        Location:  Remote
        <br>
        <br>
        Requirements:
        <br>
        <br>
        <ul class="ml-6 list-disc">
          <li>Experience developing Web Application</li>
          <li>Experience with VueJS</li>
          <li>Experience with git</li>
          <li>Experience with JavaScript</li>
          <li>Experience JSON, XAML/XML, and Web Services</li>
          <li>GraphQL is a plus</li>
          <li>Docker</li>
          <li>Typescript</li>
        </ul>
        <br>
        Personal Qualities
        <br>
        <br>
        Passionate about web technologies and coding the *right* way Deliver a product that is
        centered around a great customer experience Create Web applications that will be used
        by millions Create quality code that is easy to test and maintain Collaborate with others
        in a remote environment and in office
        <br>
        <br>
        If you interested please send us CV over mail: work@zigzagtrader.xyz
      </article>
    </div>
    <div class="w-full flex justify-center">
      <img
          class="hand-size absolute bottom-0"
          :src="require('~/assets/img/Careers/hand.png')"
          alt="hand with device"
      >
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Careers',
  layout: 'Careers'
}
</script>

<style scoped>
  .text-size {
    width: 350px;
  }
  .hand-size {
    width: 237px;
    height: 375px;
  }
</style>
