<template>
  <section class="mt-10 grid grid-cols-2">
    <div class="flex flex-col">
      <h1 class="big-text font-bold uppercase">contact us</h1>
      <div class="first-row flex relative">
        <div class="mt-14 flex flex-col">
          <p class="text-size">
            Explore your options and take one step closer to possessing your own brokerage undertaking online.
            Thank you for your interest in Zig Zag.
            <br>
            <br>
            <br>
            Please submit your information or contact us via the information below to receive a free consultation.
            <br>
            <br>
            <br>
            Zig Zag’s brokerage specialists are standing by to discuss your firm’s needs.
          </p>
          <div class="contacts mt-12">
            <div>
              <div class="flex gap-x-3">
                <img
                    class="w-7 h-7"
                    :src="require('~/assets/icons/phone.svg')"
                    alt="phone icon"
                >
                <div class="flex flex-col gap-y-3">
                  <div class="flex items-center gap-x-3">
                    <img
                        class="w-5 h-5"
                        :src="require('~/assets/img/GreatBritain.png')"
                        alt="Flag of Great Britain"
                    >
                    <span>+44 (20) 31-29-22-65</span>
                  </div>
                  <div class="flex items-center gap-x-3">
                    <img
                        class="w-5 h-5"
                        :src="require('~/assets/img/USA.png')"
                        alt="Flag of USA"
                    >
                    <span>+44 (20) 31-29-22-65</span>
                  </div>
                </div>
              </div>
              <div class="mt-6 flex gap-x-3">
                <img
                    class="w-7 h-7"
                    :src="require('~/assets/icons/mail.svg')"
                    alt="mail icon"
                >
                <span>sales@zigzagtrader.xyz</span>
              </div>
              <div class="mt-12 flex gap-x-3">
                <img
                    class="w-7 h-7"
                    :src="require('~/assets/icons/skype.svg')"
                    alt="skype icon"
                >
                <span>live:sales_94558</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <form class="contact-form" action="#">
        <div class="w-full">
          <label class="contact-label" for="firstName">
            first name
          </label>
          <input
              id="firstName"
              class="contact-input"
              autocomplete="false"
              type="text"
              required
          >
        </div>

        <div class="w-full">
          <label class="contact-label" for="lastName">
            last name
          </label>
          <input
              id="lastName"
              class="contact-input"
              autocomplete="false"
              type="text"
              required
          >
        </div>

        <div class="w-full">
          <label class="contact-label" for="email">
            email
          </label>
          <input
              id="email"
              class="contact-input"
              autocomplete="false"
              type="email"
              required
          >
        </div>

        <div class="w-full">
          <label class="contact-label" for="phone">
            phone
          </label>
          <input
              id="phone"
              class="contact-input"
              autocomplete="false"
              type="tel"
              required
          >
        </div>

        <div class="w-full">
          <label class="contact-label" for="goal">
            I'm interested In
          </label>
          <input
              id="goal"
              class="contact-input"
              autocomplete="false"
              type="text"
              required
          >
        </div>

        <div class="w-full">
          <label class="contact-label" for="details">
            details
          </label>
          <input
              id="details"
              class="contact-input"
              autocomplete="false"
              type="text"
              required
          >
        </div>

        <button class="submit_btn" type="submit">submit</button>
      </form>
    </div>
  </section>
</template>

<script lang="ts">
export default {
  name: 'ContactUs',
  layout: 'ContactUs'
}
</script>

<style scoped>
  .text-size {
    width: 350px;
  }
</style>
