<template>
  <div class="flex justify-between">
    <div class="mt-28 ml-20 flex flex-col">
      <h1 class="main-title">trade invest socialize</h1>
      <read-more-button
          :text="`Discover Zig Zag`"
          :path="'products'"
          class="mt-16"
      ></read-more-button>
    </div>
    <div class="flex mr-4">
      <div class="devices relative">
        <img
            class="laptop-size"
            :src="require('~/assets/img/MainPage/laptop.png')"
            alt="laptop"
        >
        <img
            class="right-phone absolute"
            :src="require('~/assets/img/MainPage/phone-right.png')"
            alt="phone-right"
        >
        <img
            class="left-phone absolute"
            :src="require('~/assets/img/MainPage/phone-left.png')"
            alt="phone-left"
        >
      </div>
      <quick-contact class="quick-contacts"></quick-contact>
    </div>
  </div>
</template>

<script lang="ts">
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'IndexPage',
  components: {
    QuickContact,
    ReadMoreButton
  }
}
</script>

<style scoped>
  .main-title {
    width: 370px;
    font-size: 72px;
    font-weight: 900;
    line-height: 85px;
    text-transform: uppercase;
  }
  .devices {
    height: 470px;
  }
  .laptop-size {
    width: 542px;
    height: 480px;
  }
  .left-phone {
    height: 285px;
    top: 70%;
    left: 17%;
  }
  .right-phone {
    height: 285px;
    top: 46%;
    left: -8%;
  }
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 31%;
  }
</style>
