<template>
  <div class="grid grid-cols-3">
    <div class="mt-32 flex items-center">
      <img
          class="first-device-size"
          :src="require('~/assets/img/OurMission/device.png')"
          alt="device 1"
      >
    </div>
    <div class="justify-self-center">
      <p class="text-size mt-20">
        Since 2019, ZIG ZAG  has been providing 360° solutions for financial service providers.
        From world-class platforms to expert consulting, our clients are the focus of our attention.
        <br>
        <br>
        We have many clients across all continents on our proprietary software platforms.
        We’re always looking to add new and interesting features that give our clients
        even more advantages in this crowded marketplace. We specialize in helping established
        brokers expand with new products and more efficient technology. For startups, we offer
        personal guidance, as well as the technology and marketing support to help them get to
        market faster. We’re always trying to improve the end customer experience and offer more
        opportunities to engage with the excitement of the markets.
        <br>
        <br>
        We come from a place where the customer is always right and this, plus an excellent customer
        front line experience, is our formula for success.
      </p>
    </div>
    <div class="mt-12 justify-self-end">
      <img
          class="second-device-size"
          :src="require('~/assets/img/OurMission/device2.png')"
          alt="device 2"
      >
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'OurMission',
  layout: 'OurMission'
}
</script>

<style scoped>
  .text-size {
    width: 350px;
  }
  .first-device-size {
    width: 295px;
    height: 365px;
  }
  .second-device-size {
    width: 273px;
    height: 323px;
  }
</style>
