<template>
  <section>
    <div class="mt-24 flex justify-between">
      <div class="first-column flex flex-col items-center font-bold uppercase">
        <h1 class="main-title">zigzag</h1>
        <img
            class="iphone relative z-10"
            :src="require('~/assets/img/Products/Mobile/iPhone.png')"
            alt="iPhone"
        >
        <h3 class="title mt-28 relative z-20">mobile</h3>
      </div>
      <div class="mt-28 second-column flex flex-col">
        <p>
          <span class="font-bold uppercase">zigzag mobile applications</span>
          <br>
          <br>
          Nowadays, most customers using for trading and communication Mobile and Tablets.
          With advanced applications, you can socialize, invest, message and trade.
        </p>
        <p class="mt-12">
          <span class="font-bold uppercase">ios and android support:</span>
          <br>
          <br>
          Use same ecosystem on both IPhone and Android based devices.
        </p>
        <read-more-button
            :styles="'green-blue-btn'"
            class="mt-24"
            :text="`Read more`"
            :path="'products/mobile/mobile_full'"
        ></read-more-button>
      </div>
    </div>
    <quick-contact order class="quick-contacts"></quick-contact>
  </section>
</template>

<script lang="ts">
import ReadMoreButton from "~/components/ReadMoreButton.vue";
import QuickContact from "~/components/QuickContact.vue";

export default {
  name: 'Mobile',
  components: {
    QuickContact,
    ReadMoreButton
  },
  layout: 'Mobile'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    left: 3%;
    bottom: 9%;
  }
  .first-column {
    width: 70%;
    height: 600px;
    margin-top: 30px;
  }
  .second-column {
    width: 400px;
  }
  .main-title {
    font-size: 190px;
    line-height: 190px;
  }
  .title {
    font-size: 97px;
    line-height: 118px;
  }
  .iphone {
    width: 215px;
    height: 356px;
    position: absolute;
    top: 30%;
    left: 29.5%;
  }
</style>
