<template>
  <main>
    <div class="px-12">
      <section class="first-section mt-8 flex justify-between">
        <div class="first-row w-full flex">
          <div class="app-examples-first w-8/12 h-full">
            <h1 class="z-20 first-title extra-large-text font-bold uppercase">zig zag</h1>
            <img class="figure-1 relative z-20" :src="require('~/assets/img/Products/Mobile/figure.svg')" alt="figure">
            <img
                class="app-mobile-size z-30 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example.png')"
                alt="app mobile example"
            >
            <img
                class="app-mobile-size app-example2 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example2.png')"
                alt="app mobile example 2"
            >
            <img
                class="app-mobile-size app-example3 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example3.png')"
                alt="app mobile example 3"
            >
            <img
                class="app-mobile-size app-example4 z-30 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example4.png')"
                alt="app mobile example 4"
            >
          </div>
          <div>
            <ul class="first-row-list flex flex-col justify-between text-3xl leading-8 uppercase ml-20 mt-48">
              <li>messenger</li>
              <li>trader</li>
              <li>social</li>
              <li>referral</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="second-section">
        <div class="second-row w-full flex">
          <article class="w-9/12 flex justify-end pr-10">
            <div class="relative">
              <img class="figure-2 relative z-40" :src="require('~/assets/img/Products/Mobile/figure2.svg')" alt="figure 2">
              <h2 class="big-text font-bold uppercase">zigzag messenger</h2>
              <ul class="second-row-list list-disc capitalize ml-8 mt-4">
                <li>direct messages</li>
                <li>group chats</li>
                <li>support chats</li>
              </ul>
            </div>
          </article>
          <div class="w-3/12 h-full relative">
            <img
                class="app-mobile-size app-example5 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example5.png')"
                alt="app mobile example 5"
            >
            <img
                class="app-mobile-size app-example6 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example6.png')"
                alt="app mobile example 6"
            >
          </div>
        </div>
      </section>
      <section class="third-section">
        <div class="second-row w-full flex">
          <div class="w-3/12 h-full relative">
            <img
                class="app-mobile-size app-example7 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example7.png')"
                alt="app mobile example 7"
            >
            <img
                class="app-mobile-size app-example8 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example8.png')"
                alt="app mobile example 8"
            >
          </div>
          <article class="mt-4 w-9/12 relative">
            <h2 class="big-text font-bold uppercase">zigzag social</h2>
            <img class="figure-3 relative z-40" :src="require('~/assets/img/Products/Mobile/figure3.svg')" alt="figure 3">
            <div class="third-row-text">
              <span>Advanced Wallet Management. Ability to deposit on any offered currency.</span>
              <br>
              <br>
              <p class="second-row-list list-disc">
                Ability to transfer between wallets with exchanges rates and commission charge.
                Ability to top up any account from wallet and return money back on it.
              </p>
            </div>
          </article>
        </div>
      </section>
      <section class="fourth-section">
        <div class="second-row w-full flex">
          <article class="w-9/12 flex justify-end pr-10 relative">
            <img class="figure-4 relative z-40" :src="require('~/assets/img/Products/Mobile/figure4.svg')" alt="figure 4">
            <div>
              <h2 class="big-text font-bold uppercase">portfolios</h2>
              <p class="fourth-row-text mt-4">
                Great Portfolio Asset Management allows traders to track investors portfolio and
                investor to track portfolio of investments to traders
                <br>
                <br>
                Social Trading and Investment Management solution to make investors copy successful traders,
                rate prolertly traders, make competitions between  traders and investors.
                <br>
                <br>
                Leader Boards, Badges for accounts, based on statistics or
                competitions, manual badges, strategies and many other ways to sort traders.
              </p>
            </div>
          </article>
          <div class="w-3/12 h-full relative">
            <img
                class="app-mobile-size app-example5 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example9.png')"
                alt="app mobile example 9"
            >
            <img
                class="app-mobile-size app-example6 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example10.png')"
                alt="app mobile example 10"
            >
          </div>
        </div>
      </section>
      <section class="fifth-section">
        <div class="second-row w-full flex">
          <div class="w-3/12 h-full relative">
            <img
                class="app-mobile-size app-example7 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example.png')"
                alt="app mobile example 11"
            >
            <img
                class="app-mobile-size app-example8 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example11.png')"
                alt="app mobile example 12"
            >
          </div>
          <div class="w-9/12 relative">
            <img class="figure-5 relative z-40" :src="require('~/assets/img/Products/Mobile/figure5.svg')" alt="figure 5">
            <h2 class="big-text font-bold uppercase">social trading</h2>
            <article class="mt-6">
              <span>Multy Regulation Support for Brokers:</span>
              <ul class="second-row-list list-disc capitalize ml-8">
                <li>Stating country and company details for each regulation</li>
                <li>Available leverages for regulation</li>
                <li>Select server and group for accounts to be created.</li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="last-section">
        <div class="w-full flex">
          <div class="w-7/12 h-full relative">
            <img class="figure-6 relative z-40" :src="require('~/assets/img/Products/Mobile/figure6.svg')" alt="figure 6">
            <img class="figure-7 relative z-40" :src="require('~/assets/img/Products/Mobile/figure7.svg')" alt="figure 7">
            <div>
              <h2 class="big-text font-bold uppercase">trading terminal</h2>
              <p class="fifth-row-text mt-4">
                Advanced Trading Terminal with ability to trade from any trading account,
                manage orders and control opened and closed orders. All orders coming from investing
                or copy trading will be referenced with source of creation. Live pricing and charging
                with all available time frames from server.
              </p>
            </div>
            <p class="fifth-row-text last-paragraph-position">
              Referral/IB system to get commission from customers brings leads into system.
              Supported Any levels and commission types for deposit, monthly profit.
            </p>
            <div class="devices relative mt-20">
              <img
                  class="app-mobile-size app-example7 z-10 absolute"
                  :src="require('~/assets/img/Products/Mobile/mobile-example.png')"
                  alt="app mobile example 11"
              >
              <img
                  class="app-mobile-size app-example8 absolute"
                  :src="require('~/assets/img/Products/Mobile/mobile-example.png')"
                  alt="app mobile example 12"
              >
            </div>
          </div>
          <div class="devices w-5/12 relative">
            <img
                class="app-mobile-size app-example7 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example2.png')"
                alt="app mobile example 11"
            >
            <img
                class="app-mobile-size app-example9 z-10 absolute"
                :src="require('~/assets/img/Products/Mobile/mobile-example2.png')"
                alt="app mobile example 12"
            >
          </div>
        </div>
      </section>
    </div>
    <quick-contact class="quick-contacts"></quick-contact>
    <Footer />
  </main>
</template>

<script lang="ts">
import QuickContact from "~/components/QuickContact.vue";
import Footer from "~/components/Footer.vue";

export default {
  name: 'MobileFull',
  components: {
    QuickContact,
    Footer
  },
  layout: 'MobileFull'
}
</script>

<style scoped>
  .quick-contacts {
    position: fixed;
    right: 2%;
    top: 65%;
    z-index: 6;
  }
  .devices {
    height: 755px;
  }
  .first-row {
    height: 800px;
  }
  .second-row {
    height: 800px;
  }
  .app-mobile-size {
    width: 300px;
    height: 565px;
  }
  .app-examples-first {
    position: relative;
    left: -4%;
  }
  .app-example2 {
    position: absolute;
    top: 20%;
    left: 24%;
  }
  .app-example3 {
    position: absolute;
    left: 49%;
  }
  .app-example4 {
    position: absolute;
    top: 33%;
    left: 74%;
  }
  .first-title {
    position: absolute;
    top: 15%;
    left: 32%;
  }
  .first-row-list {
    height: 157px;
  }
  .third-row-text {
    width: 455px;
  }
  .fourth-row-text {
    width: 300px;
  }
  .fifth-row-text {
    width: 500px;
  }
  .app-example5 {
    position: absolute;
    top: -4%;
    right: 2%;
  }
  .app-example6 {
    position: absolute;
    top: 21%;
    left: -46%;
  }
  .app-example7 {
    position: absolute;
    left: 10%;
  }
  .app-example8 {
    position: absolute;
    top: 25%;
    left: 29%;
  }
  .app-example9 {
    position: absolute;
    top: 25%;
    left: 36%;
  }
  .last-paragraph-position {
    position: absolute;
    bottom: 15%;
    left: 68%;
  }
  .figure-1 {
    position: absolute;
    top: -2%;
    left: 25%;
    z-index: 40;
  }
  .figure-2 {
    position: absolute;
    top: -5%;
    right: -48%;
  }
  .figure-3 {
    position: absolute;
    top: 10%;
    left: -35%;
  }
  .figure-4 {
    position: absolute;
    top: 8%;
    right: -25%;
  }
  .figure-5 {
    position: absolute;
    top: 10%;
    left: -35%;
  }
  .figure-6 {
    position: absolute;
    top: 4%;
    right: -65%;
  }
  .figure-7 {
    position: absolute;
    top: 29%;
    left: 1%;
  }
</style>
